---
import Layout from '../layouts/Layout.astro';
import WeeklyPlanner from '../components/weeklyPlanner.astro';
---

<Layout title="Weekly Planner">
    <main class="container mx-auto px-4 py-8">
        <WeeklyPlanner />
    </main>
</Layout>