---
import Layout from '../layouts/Layout.astro';
import Pomotimer from '../components/pomoTimer.astro';
---

<Layout title="Pomodoro Timer">
    <main class="container mx-auto px-4 py-8">
        <Pomotimer />
    </main>
</Layout>
